<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="application.properties"/>
    <bean id="myCoach"
          class="org.example.ner.Valiball"/>
    <bean id="myPerson"
          class="org.example.ner.Person">
        <constructor-arg ref="myCoach"/>
        <property name="coach" ref="myCoach"/>
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
    </bean>
    <context:component-scan base-package="org.example.Model"/>
<!--
    <bean id="Idcar" class="org.example.Model.Car" scope="proportion" init-method="myInit" destroy-method="destroy">
        <constructor-arg index="0" value="Mers"/>
        <constructor-arg index="1" value="Germany"/>
    </bean>
-->
    <!--<bean id="myPerson1"
          class="org.example.ner.Person">
        <constructor-arg ref="myCoach"/>
        <property name="coach" ref="myCoach"/>
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
    </bean>-->

</beans>